{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head_css.html' %}
  </head>

  <body>

  {% include 'navbar.html' %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">My Site</h1>
            <p class="lead">Welcome to my personal site. Here you can see my basic information, Education,
            Skills, Work experience and how to contact me.</p>
            <p class="lead">
              <a href="{% url 'basicInfo' %}" class="btn btn-lg btn-default">Basic Info</a>
            </p>
          </div>
          {% include 'footer.html' %}
        </div>

      </div>

    </div>
    {% include 'base_js.html' %}
  </body>
</html>
