<div class="cover-container">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Aurora</h3>
      <nav>
        <ul class="nav masthead-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Experience</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>